body {
  background: lightcoral
}

td {
    border: 1px solid black;
    width: 200px;
    height: 200px;
  }
  
  td:hover {
    background: lightseagreen;
  }
  
  table {
    border: 1px solid red;
  }
